{% macro displayNewsList(news_list) %}

    {% for artcile in news_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <li class="text-center">
               {{ artcile.name|truncate(10)}}
            </li>
            <li class="text-center">
                <a href="{{ artcile.url}}">News Link</a>
             </li>
             <li class="text-center">
                {{ artcile.country}}
             </li>
        </div>
    {% endfor %}
    
{% endmacro %}